<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
  
  <!-- Scripts -->
  <script src="/scripts/app.js" defer></script>

</head>
<body>
  <header>
    <nav>
      <a class="navbar-links" href="/">Home</a>
      <a class="navbar-links" href="/playlists">Explore Playlists</a>
      <a class="navbar-links" href="/playlists/new">Create a Playlists</a>
      <a class="navbar-links" href="/songs/new">Add a Song</a>
    </nav>
    <h3>MuzickOnly</h3>
  </header>

  <main>
    <h1>Song Detail</h1>
    
    <p><%= song.title %> - <%= song.artist%></p>
    <a href="/playlists/<%=song.playlist._id%>"><%=song.playlist.name%></a>
    <a href="/songs/<%= song._id %>/edit">Edit Song Details</a> 
    <form action="/songs/<%=song._id%>?_method=DELETE" method=POST>
      <input type="submit" value="Delete Song">
    </form>
  </main>
</body>
</html>