<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
  
  <!-- Scripts -->
  <script src="/scripts/app.js" defer></script>

</head>
<body>
  <header>
    <nav>
      <a class="navbar-links" href="/">Home</a>
      <a class="navbar-links" href="/playlists">Explore Playlists</a>
      <a class="navbar-links" href="/playlists/new">Create a Playlists</a>
      <a class="navbar-links" href="/songs/new">Add a Song</a>
    </nav>
    <h3>MuzickOnly</h3>
  </header>
  <main>
    <div class="form-container"> 
      <h1>Update <%= playlist.name %> Details </h1>
      <form action="/playlists/<%= playlist._id %>?_method=PUT" method="POST">
        <p>
          <input type="text" name="name" value="<%= playlist.name %>" required >
        </p>
        <p>
        <select name="mood" >
          <option default><%= playlist.mood %></option>
          <option value="Happy">Happy</option>
          <option value="Sad">Sad</option>
          <option value="Angry">Angry</option>
          <option value="Romantic">Romantic</option>
          <option value="Focused">Focused</option>
          <option value="Dancy">Dancy</option>
          <option value="Chill">Chill</option>
          <option value="Motivated">Motivated</option>
        </select>
        </p>
        <p>
        <textarea type="text" name="description" placeholder="<%= playlist.description %> " cols="25" rows="4" required maxlength="240"><%= playlist.description %></textarea>
        </p>
        <input class="submit-btn" type="submit" value="Update Playlist">
      </form>
    </div>
  </main>

</body>
</html>