<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playlist Details</title>
</head>
<body>
  <header>
    <h3>MuzickOnly</h3>
    <nav>
      <a href="/">Home</a>
      <a href="/playlists">Explore Playlists</a>
      <a href="/playlists/new">Create a Playlist</a>
    </nav>
  </header>
  <main>
    <h1><%= playlist.name %></h1>
    <a href="/playlists/<%= playlist._id %>/edit ">Edit</a>
    
      <h3>Mood: <%= playlist.mood %></h3>
      <h3>Description: <%= playlist.description %></h3>
      <h3>Songs:</h3>
      <ul>
        <% playlist.songs.forEach(song => { %>
         <li>
           <a href="/songs/<%= song._id %> "><%= song.title %> - <%= song.name %></a>
         </li>
        <% }) %>
      </ul>
    
    <form action="/playlists/<%= playlist._id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete Playlist">
    </form>
  </main>
</body>
</html>